<!DOCTYPE html>
<html>

<head lang="en">
	<meta charset="UTF-8">
	<title>Learning Chinese</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="./public/style.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="./public/jquery-3.2.1.min.js"></script>
	<script src="./public/vue.min.js"></script>
	<script src="./public/pinyin_dict_withtone.js"></script>
	<script src="./public/pinyinUtil.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/ramda@0.25.0/dist/ramda.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/hanzi-writer@1.3/dist/hanzi-writer.min.js"></script>
	<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>



</head>

<body>
	<div id="app">

		<div class="jumbotron">
			<div class="container">
				<h1>Hello, world!</h1>
				<p>Enjoy learning Chinese</p>
			</div>
		</div>



		<div class="container">

			<ul id="myTab" class="nav nav-tabs">
				<li class="active"><a href="#Convert" data-toggle="tab">Convert</a></li>
				<li><a href="#Spelling" data-toggle="tab">Spelling</a></li>
				<li><a href="#Segment" data-toggle="tab">Segment</a></li>
				<li><a href="#Analyze" data-toggle="tab">Analyze</a></li>
			</ul>


			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="Convert">
					<h5> Convert Chinese Characters to Pinyin : </h5>
					<textarea class="form-control" rows="4" placeholder="Input Chinese characters here"
						v-model="message">{{message}}</textarea>
					<button type="button" class="btn btn-info btn-lg" v-on:click="ConvertMessage">Convert</button>
					<textarea class="form-control" rows="4" v-model="pinyin">{{pinyin}}</textarea>
				</div>


				<div id="Segment" class="tab-pane fade">
					<h5> Segment full sentences into individual words: </h5>
					<textarea class="form-control" rows="4" placeholder="Input full sentences here"
						v-model="sentence">{{sentence}}</textarea>
					<button type="button" class="btn btn-info btn-lg" v-on:click="SegmentSentence">Segment</button>
					<textarea class="form-control" rows="4" v-model="fenci">{{fenci}}</textarea>
				</div>


				<div id="Spelling" class="tab-pane fade">
					<h5> Show how to spell Chinese characters in specific order: </h5>
					<u>Input just ONE character please</u>
					<div id="character-target-div">
						<input type="text" class="form-control" rows="1" v-model="character"
							placeholder="Input the character here first">
					</div>
					<button id="animate-button" type="button" class="btn btn-info btn-lg" v-on:click="Spelling">Click Me
						Twice</button>
				</div>


				<div id="Analyze" class="tab-pane fade">
					<h5> Pin down the most frequently used characters: </h5>
					<textarea class="form-control" rows="4" placeholder="Input the passage here"
						v-model="passage">{{passage}}</textarea>
					<button type="button" class="btn btn-info btn-lg" v-on:click="Analyze">Analyze</button>
					<textarea class="form-control" rows="4" v-model="characters">{{characters}}</textarea>
				</div>

			</div>

		</div>
	</div>

</body>

</html>

<script type="text/javascript">

	function getPinyin() {
		var value = document.getElementById('test').value;
		var type = document.querySelector('[name="pinyin_type"]:checked').value;
		var polyphone = document.querySelector('[name="polyphone"]').checked;
		var result = '';
		if (value) {
			switch (type) {
				case '0': result = pinyinUtil.getPinyin(value, ' ', true, polyphone); break;
				case '1': result = pinyinUtil.getPinyin(value, ' ', false, polyphone); break;
				case '2': result = pinyinUtil.getFirstLetter(value, polyphone); break;
				default: break;
			}
		}
		var html = result;
		if (result instanceof Array) {
			html = '<ol>';
			result.forEach(function (val) {
				html += '<li>' + val + '</li>';
			});
			html += '</ol>';
		}
		document.getElementById('result').innerHTML = html;
	}
	document.getElementById('test').addEventListener('input', getPinyin);
	document.getElementsByName('polyphone')[0].addEventListener('change', function (e) {
		getPinyin();
	});
	document.addEventListener('change', function (e) {
		if (e.target.name === 'pinyin_type') {
			getPinyin();
		}
	});
	getPinyin();
</script>

<script>

	var app = new Vue({
		el: '#app',
		data: {
			message: '',
			pinyin: '',
			sentence: '',
			fenci: '',
			passage: '',
			characters: '',
			character: '',
			stroke: ''
		},
		methods: {
			ConvertMessage: function () {
				this.pinyin = pinyinUtil.getPinyin(this.message);
			},
			SegmentSentence: function () {
				axios
					.post('https://api.shenzl.cn/cut', {
						word: app.sentence
					})
					.then(function (response) {
						return response.data;
					})
					.then(function (data) {
						var result = data.result.join(' ');
						app.fenci = result;
					})
					.catch(function (err) {
						console.log(err);
					})
			},
			Analyze: function () {
				this.characters = R.compose(
					R.take(10),
					R.reverse,
					R.sortBy(R.prop(1)),
					R.toPairs,
					R.countBy(R.identity),
					R.match(/[\u4e00-\u9fa5]/g)
				)(this.passage);
			},
			Spelling: function () {
				var writer = HanziWriter.create('character-target-div', this.character, {
					width: 200,
					height: 200,
					padding: 10,
					showOutline: true
				});
				document.getElementById('animate-button').addEventListener('click', function () {
					writer.animateCharacter();

				});
			}

		}
	})
</script>
<script>


</script>